version: "3.7"
services:

  redis:
    image: redis:8.2.1
    ports:
      - "6379:6379"
    command: redis-server --save 60 1
    environment:
      - REDIS_PASSWORD=mandingo23cm
      - loglevel=warning
      - REDIS_REPLICATION_MODE=master
      - name=redis
    volumes:
      - ./redis-data:/data

  redisinsight:
    image: redislabs/redisinsight:1.13.1
    ports:
      - "8001:8001"
    volumes:
      - ./redis-client:/db