version: '3.6'

services:
  # default http://localhost:8080
  # mapped http://localhost:8082
  jenkins:
    container_name: jenkins
    image: jenkins/jenkins:lts
    ports:
      - "8082:8080"
    volumes:
      - ./jenkins:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    user: root
      
  # default http://localhost:8081
  # mapped http://localhost:8083
  nexus:
    image: sonatype/nexus3:3.80.0
    container_name: nexus
    ports:
      - "8083:8081"
      - "443:443"
    #user: root # default user is a bit different one
    volumes:
     - ./nexus:/nexus-data