version: '3.8'

services:

  influxdb3-core:
    container_name: influxdb3-core
    image: influxdb:3-core
    ports:
      - "8181:8181"
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3

  influx-client:
    container_name: influxdb3-core-client
    image: timeseriesadmin/timeseriesadmin:latest
    ports:
      - "8085:8085"