- hosts: "{{ target_server_group }}"
  remote_user: "{{ user_root }}"
  gather_facts: True
  vars_files:
    - ./variables/variables-common.yml
    - ./variables/variables-services.yml
  tasks:
    - import_tasks: ./tasks/linux/network/iperf/iperf-server.yml
      tags: "{{ tag_iperf_server }}"
    - import_tasks: ./tasks/linux/network/iperf/iperf-client.yml
      tags: "{{ tag_iperf_client }}"
    - import_tasks: ./tasks/linux/network/iftop.yml
      tags: "{{ tag_iftop }}"
    - import_tasks: ./tasks/linux/network/nload.yml
      tags: "{{ tag_nload }}"
    - import_tasks: ./tasks/linux/gluster-fs/gluster-fs.yml
      tags: "{{ tag_gluster_fs }}"
    - import_tasks: ./tasks/databases/oracle/11xe/docker/oracle11xe.yml
      tags: "{{ tag_oracle_11xe_docker }}"
    - import_tasks: ./tasks/services/load-balancers/haproxy/haproxy.yml
      tags: "{{ tag_lb_haproxy }}"
    - import_tasks: ./tasks/services/load-balancers/gobetween/gobetween.yml
      tags: "{{ tag_lb_gobetween }}"
    - import_tasks: ./tasks/services/load-balancers/nginx/nginx.yml
      tags: "{{ tag_lb_nginx }}"
    - import_tasks: ./tasks/services/ci-cd/ci-cd.yml
      tags: "{{ tag_ci_cd }}"
    - import_tasks: ./tasks/services/rabbit-mq/rabbit-mq.yml
      tags: "{{ tag_rabbit_mq }}"
    - import_tasks: ./tasks/services/ldap/ldap.yml
      tags: "{{ tag_open_ldap }}"
    - import_tasks: ./tasks/services/random-logger/random-logger.yml
      tags: "{{ tag_random_logger }}"
    - import_tasks: ./tasks/services/httpd/httpd.yml
      tags: "{{ tag_httpd }}"
    - import_tasks: ./tasks/services/vpn-wireguard/wireguard.yml